body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -------------------------------- Variables ------------------------------- */
:root {
  --main-color: #eb233c;
}
/* -------------------------------- Variables ------------------------------- */

/* !----------------------------- Reusable Blocks ---------------------------- */
.link,
.link:hover {
  text-decoration: none;
}

.button {
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  border: none;
}

.button:hover {
  text-decoration: none;
}

.button--transparent {
  border: 1px solid gray;
  color: #fff;
  background: transparent;
}

.button--red {
  background: var(--main-color);
  color: #fff;
}

.button--transparent:hover {
  background: #fff;
  color: #000;
  border: none;
}

.button--red:hover {
  background: var(--main-color);
  color: #fff;
}
/* !----------------------------- Reusable Blocks ---------------------------- */

.text-red {
  color: var(--main-color);
}

.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/background.jpg");
  height: 75vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero__inner-container {
  height: 75vh;
}

.section-services {
  padding: 50px 0;
  background: #fff;
}

.services-card__icon-item::before {
  margin-left: 0;
  font-size: 25px;
  padding: 15px;
  border-radius: 50%;
  color: var(--main-color);
  border: 1px solid#eaeaea;
}

.services-card__text-container {
  padding: 10px;
}

.section-works {
  padding: 50px 0;
  background-color: #faf4fa;
}

.portfolio-card {
  margin: 20px;
}

.portfolio-card__img-container {
  position: relative;
}

.portfolio-card__img-overlay {
  background: #eb233a32;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all ease-in-out 0.5s;
}

.portfolio-card:hover .portfolio-card__img-overlay {
  opacity: 1;
}

.section-heading {
  padding: 10px 0 20px 0;
}

.section-heading__title-main {
  border-bottom: 2px solid red;
  display: inline-block;
  margin-bottom: -5px;
  line-height: 0;
}

.section-heading {
  line-height: 0;
}

.section-subscribe {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-about {
  padding: 100px 0;
  background: #fff;
}

.section-contact {
  padding: 100px 0;
  background: #f7f7f7;
}

.contact-form__input-box {
  border: none;
  border-bottom: 2px solid var(--main-color);
  border-radius: 0;
  background: #f7f7f7;
}
